# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from api_keys import g_key
gmaps.configure(api_key=g_key)
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
weather_data = pd.read_csv("weather data.csv")
weather_data.dropna(inplace=True)
weather_data.head(100)

,City,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,airai,-8.9266,125.4092,59.59,94,93,2.91,TL,1659789842
1,san lorenzo,-25.3333,-57.5333,58.14,94,100,8.05,PY,1659789843
2,cap malheureux,-19.9842,57.6142,72.46,70,4,7.00,MU,1659789844
3,punta arenas,-53.1500,-70.9167,35.71,93,75,3.44,CL,1659789735
4,pouembout,-21.1333,164.9000,71.55,92,10,2.35,NC,1659789845
...,...,...,...,...,...,...,...,...,...
95,toora-khem,52.4675,96.1100,54.66,53,29,4.12,RU,1659789927
96,hithadhoo,-0.6000,73.0833,82.94,73,62,14.05,MV,1659789928
97,winnemucca,40.9730,-117.7357,64.45,88,20,8.05,US,1659789775
98,monchegorsk,67.9397,32.8739,61.29,95,100,1.54,RU,1659789930
99,taksimo,56.3444,114.8794,54.00,88,100,2.19,RU,1659789931

In [48]:
weather_data.count()

City          595
lat           595
Lng           595
Max Temp      595
Humidity      595
Cloudiness    595
Wind Speed    595
Country       595
Date          595
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [49]:
locations = weather_data[["lat", "Lng"]]

In [50]:
humidity = weather_data["Humidity"]

In [51]:
fig = gmaps.figure()

In [52]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 10, point_radius = 1)

In [53]:
fig.add_layer(heat_layer)

In [54]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [55]:
weather_data = weather_data[(weather_data["Max Temp"]<37) & (weather_data["Max Temp"]>10)]

In [56]:
weather_data = weather_data[(weather_data["Wind Speed"]<4.5)]

In [57]:
# weather_data = weather_data[(weather_data["Cloudiness"]<50)]

In [58]:
weather_data

,City,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,punta arenas,-53.1500,-70.9167,35.71,93,75,3.44,CL,1659789735
38,leningradskiy,69.3833,178.4167,35.38,95,97,3.31,RU,1659789875
436,coihaique,-45.5752,-72.0662,32.61,86,75,3.44,CL,1659790089

In [45]:
weather_data

Empty DataFrame
Columns: [City, lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure